
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-block borderless-card shadow-sm" ng-controller="AppController">
    <div class="form-row">
        <div class="form-group col-12 col-md-4">
            <label>ประเภทค่าตอบแทน</label>
            <select class="form-control" ng-model="$settings.formData.CompensationTypeID" 
                    ng-change="submitSearch()" ng-disabled="$settings.isLoading" fw-select2>
                <option value="empty">--- ประเภทค่าตอบแทน ---</option>
                @foreach (var CompensationType in ViewBag.CompensationType)
                {
                    <option value="@CompensationType.COMPENSATION_TYPE_ID">@CompensationType.COMPENSATION_TYPE_NAME</option>
                }
            </select>
        </div>
        <div class="form-group col-12 col-md-4">
            <label>ระดับ C ของบุลคลากร</label>
            <select class="form-control" ng-model="$settings.formData.LevelID" 
                    ng-change="submitSearch()" ng-disabled="$settings.isLoading" fw-select2>
                <option value="empty">--- ระดับ C ของบุลคลากร ---</option>
                @foreach (var LevelID in ViewBag.LevelID)
                {
                    <option value="@LevelID.LEVEL_ID">@LevelID.LEVEL_NAME</option>
                }
            </select>
        </div>
        <div class="form-group col-12 col-md-2">
            <label class="d-none d-md-block">&nbsp;</label>
            <fw-execute-button text="สร้างใหม่" css-class="btn btn-primary btn-sm" css-icon-class="ion-plus-round" ng-disabled="$settings.isLoading" ng-click="createNew($event)"></fw-execute-button>
        </div>
    </div>
    <fw-simple-data-table columns="$settings.tableConfigs.columns" disabled="$settings.isLoading"
                          auto-load="false"
                          row-click-callback="rowClick($event, $row, $columnConfig)"
                          route-url="@Url.Action("Retrieve", "PersonnelLevelCompensationRate")"></fw-simple-data-table>
</div>


@section Styles{
    @Styles.Render("~/content/select2")}
@section Scripts{
    @Scripts.Render("~/bundle/select2");
    @Scripts.Render("~/bundle/inputnumber");
<script type="text/javascript">
        angular.module("leaveApp").controller('AppController',
            function ($scope, $customHttp, $timeout, $q, $fwDialogService, $fwModalService) {
                $scope.$settings = {
                    isLoading: false,
                    formData: {
                        CompensationTypeID: 'empty',
                        LevelID: 'empty'
                    },
                    tableConfigs: {
                        columns: [
                            { label: 'No.', className: 'text-center word-wrap', type: 'rowNumber', style: 'min-width:50px;max-width:50px;width:50px;' },
                            {
                                label: 'ประเภทค่าตอบแทน', className: 'text-left word-wrap', type: 'html', params: 'BTN_EDIT',
                                field: '<a href="javascript:void(0)" class="text-primary f-w-900">{{row.COMPENSATION_TYPE_NAME}}<sup class="ml-1 ti-new-window"></sup></a>',
                                style: 'min-width:200px;'
                            },
                            { label: 'ระดับ C ของบุลคลากร', className: 'text-left word-wrap', type: 'field', field: 'PERSONNEL_LEVEL_NAME', style: 'width:170px;max-width:170px;min-width:170px;' },
                            {
                                label: 'การให้ค่าตอบแทน', className: 'text-left word-wrap', type: 'html',
                                field: '<span ng-if="row.RATE_TYPE==1">ต่อเดือน</span>' +
                                    '<span class="text-danger" ng-if="row.RATE_TYPE==2">ต่อ ชม.</span> <span class="text-danger" ng-if="row.RATE_TYPE==3">ต่อ วัน</span>',
                                style: 'min-width:100px;max-width:100px;width:100px;'
                            },
                            { label: 'อัตรา (บาท)', className: 'text-right word-wrap', type: 'fieldNumber', field: 'RATE_AMOUNT', style: 'width:130px;max-width:130px;min-width:130px;' },
                            { label: '', className: 'text-center word-wrap', params: 'BTN_DELETE', type: 'html', field: '<a href="javascript:void(0)" class="text-danger f-14 f-w-900">ยกเลิก</a>', style: 'min-width:80px;max-width:80px;width:80px;' }
                        ]
                    }
                };

                $scope.createNew = function (event, row) {
                    $fwModalService.getModal('@Url.Action("GetModalForm", "PersonnelLevelCompensationRate")', { $formData: (row || {}) }, function ($scope, $customHttp, $mdDialog, $fwDialogService, $timeout, $fwModalHelperService, $formData) {
                        $scope.$settings = {
                            isLoading: false, isEdit: $formData.COMPENSATION_TYPE_ID != undefined,
                            isCompensationRateLoading: false,
                            formData: {},
                            formErrors: {}
                        };

                        // กำหนดค่าเริ่มต้น
                        $scope.init = function () {
                            $scope.$settings.formError = {};
                            $scope.$settings.formData = {
                                CompensationTypeId: '' + ($formData.COMPENSATION_TYPE_ID || 'empty'),
                                LevelId: '' + ($formData.LEVEL_ID || 'empty'),
                                RateAmount: $formData.RATE_AMOUNT || null,
                                RateType: '' + ($formData.RATE_TYPE || '1')
                            };
                        };
                        // เมื่อ ประเภทค่าตอบแทน หรือ ระดับ C บุคลากรเปลี่ยนแปลง
                        var compensationRateChangedId = null;
                        $scope.getCompensationRate = function () {
                            $timeout.cancel(compensationRateChangedId);
                            compensationRateChangedId = $timeout(function () {
                                $scope.$settings.isCompensationRateLoading = true;
                                $customHttp.formPost("@Url.Action("RetrieveCompensationRateBy", "PersonnelLevelCompensationRate")", { compensationTypeId: $scope.$settings.formData.CompensationTypeId, levelId: $scope.$settings.formData.LevelId }).then(function (res) {
                                    if (res.data != null)
                                        $scope.$settings.formData.RateAmount = res.data;
                                    $scope.$settings.isCompensationRateLoading = false;
                                }, function () {
                                    $scope.$settings.isCompensationRateLoading = false;
                                });
                            }, 400);
                        };
                        // ส่งคำขอบันทึกข้อมูล
                        $scope.save = function (event) {
                            $scope.$settings.isLoading = true;
                            $scope.$settings.formErrors = {};

                            var params = $.extend(true, {}, $scope.$settings.formData);
                            params.CompensationTypeId = ('' + params.CompensationTypeId).replace(/[^\d]/g, '');
                            params.LevelId = ('' + params.LevelId).replace(/[^\d]/g, '');
                            $customHttp.formPost('@Url.Action("SubmitSave", "PersonnelLevelCompensationRate")', params).then(function (res) {
                                $scope.$settings.formErrors = res.data.errors || {};
                                if (null != res.data.errorText)
                                    $fwDialogService.dangerDialog(event, res.data.errorText);
                                else if (res.data.errors == null)
                                    $fwDialogService.alertDialog(event, 'บันทึกเรียบร้อยแล้ว').then(function () {
                                        $scope.close();
                                    });
                                $scope.$settings.isLoading = false;
                            }, function () {
                                $scope.$settings.isLoading = false;
                            });
                        };
                        // ปิดหน้าต่าง
                        $scope.close = function () {
                            $mdDialog.hide();
                        };

                        $scope.init();
                    }, event).then(function () {
                        $scope.submitSearch();
                    });
                };
                $scope.rowClick = function (event, row, columnConfig) {
                    if (columnConfig.params == 'BTN_DELETE') {
                        $fwDialogService.confirmDialog(event, 'ยืนยัน!! การยกเลิกกลุ่มผู้ใช้งานนี้').then(function () {
                            $scope.$settings.isLoading = true;
                            $customHttp.formPost('@Url.Action("SubmitDelete", "PersonnelLevelCompensationRate")',
                                { CompensationTypeID: row.COMPENSATION_TYPE_ID, LevelID: row.LEVEL_ID }).then(function () {
                                $scope.submitSearch();
                            }, function () {
                                $scope.$settings.isLoading = false;
                            });
                        });
                    }
                    else if (columnConfig.params == 'BTN_EDIT') {
                        $scope.createNew(event, row);
                    }
                    return $q(function (resolve) {
                        resolve({ row: row });
                    });
                };
                // ส่งงคำร้องค้นหาข้อมูล
                var timeoutId = null;
                $scope.submitSearch = function () {
                    $timeout.cancel(timeoutId);
                    timeoutId = $timeout(function () {
                        $scope.$broadcast('fwSimpleDataTable.paramsChanged', {
                            CompensationTypeID: $scope.$settings.formData.CompensationTypeID,
                            LevelID: $scope.$settings.formData.LevelID

                        });
                    }, 300);
                };
                $scope.submitSearch();
            });
</script>
}