
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AppController">
    <div class="card card-block borderless-card shadow-sm m-0 mb-1">
        <div class="form-row">
            <div class="col-12 col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control text-primary" ng-model="$settings.formSearch.withdrawalCode"
                           ng-change="withdrawalCodeChanged()" id="withdrawalCode" placeholder="เลขที่ขอเบิก 10 หลัก" maxlength="10" />
                    <div class="input-group-append">
                        <fw-execute-button text="ค้นหา" css-icon-class="ti-search"
                                           ng-disabled="$settings.isLoading"
                                           ng-click="searchModal($event)"></fw-execute-button>
                    </div>
                </div>
                <div class="mt-1">
                    <md-checkbox ng-model="$settings.formData.BUDGET_TYPE"
                                 ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID"
                                 ng-click="expensesChanged()"
                                 ng-true-value="1" ng-false-value="2" class="mb-0">เงินงบประมาณ</md-checkbox>
                    <md-checkbox ng-model="$settings.formData.BUDGET_TYPE"
                                 ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID"
                                 ng-click="expensesChanged()"
                                 ng-true-value="2" ng-false-value="1" class="mb-0">นอกงบประมาณ</md-checkbox>
                </div>
            </div>
            <div class="col-12 col-md-9 mt-1 mt-md-0">
                <fw-execute-button text="บันทึกข้อมูล" css-icon-class="ti-save"
                                   css-class="btn btn-primary btn-sm float-md-right mr-1 mt-1 mt-md-0"
                                   ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID"
                                   on-loading="$settings.isSaving"
                                   ng-click="submitSave($event)"></fw-execute-button>
            </div>
        </div>
    </div>

    <div class="card card-block borderless-card shadow-sm m-0 mb-1 position-relative">
        <div class="position-absolute text-danger f-w-900 f-16" style="top:10px;right:10px;" ng-if="$settings.formView.active==-1"><span class="animated fadeIn">(ใบกันถูกยกเลิกแล้ว)</span></div>
        <div class="form-row">
            <div class="form-group col-12 col-md-3">
                <label>ปีงบประมาณ</label>
                <input type="text" class="form-control" value="{{$settings.formData.YR|convertYearToBuddhist}}" readonly />
            </div>
            <div class="form-group col-12 col-md-3">
                <label class="required-field">หน่วยงานภายใน<fw-validate-error-output error-messages="$settings.formErrors.DEP_ID.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.DEP_ID" ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID" fw-select2>
                    <option value="empty">--- หน่วยงานภายใน ---</option>
                    @foreach (var item in ViewBag.Departments)
                    {
                        <option value="@item.DEP_ID">@item.DEP_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>ผู้ทำรายการเบิกจ่าย</label>
                <input type="text" class="form-control" value="{{$settings.formData.CREATED_NAME}}" readonly />
            </div>
            <div class="form-group col-12 col-md-3">
                <label>วันที่เบิกจ่าย</label>
                <input type="text" class="form-control" value="{{$settings.formData.WITHDRAWAL_DATE|sqlDate:'':null:false}}" readonly />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-3">
                <label>แผนงาน<fw-validate-error-output error-messages="$settings.formErrors.PLAN_ID.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.PLAN_ID"
                        ng-change="planChanged()"
                        ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID" fw-select2>
                    <option value="empty">--- แผนงาน ---</option>
                    @foreach (var item in ViewBag.Plans)
                    {
                        <option value="@item.PLAN_ID">@item.PLAN_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>ผลผลิต<fw-validate-error-output error-messages="$settings.formErrors.ProduceId.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.PRODUCE_ID"
                        ng-change="produceChanged()"
                        ng-disabled="$settings.isLoading||$settings.produces.length==0||!$settings.formData.RESERVE_ID" fw-select2>
                    <option value="empty">--- ผลผลิต ---</option>
                    <option ng-repeat="item in $settings.produces" value="{{item.PRODUCE_ID}}">{{item.PRODUCE_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>กิจกรรม<fw-validate-error-output error-messages="$settings.formErrors.ACTIVITY_ID.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.ACTIVITY_ID"
                        ng-disabled="$settings.isLoading||$settings.activities.length==0||!$settings.formData.RESERVE_ID" fw-select2>
                    <option value="empty">--- กิจกรรม ---</option>
                    <option ng-repeat="item in $settings.activities" value="{{item.ACTIVITY_ID}}">{{item.ACTIVITY_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label class="require-field">งบรายจ่าย<fw-validate-error-output error-messages="$settings.formErrors.BUDGET_TYPE_ID.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.BUDGET_TYPE_ID" ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID" fw-select2
                        ng-change="budgetTypeChanged()">
                    <option value="empty">--- งบรายจ่าย ---</option>
                    @foreach (var item in ViewBag.BudgetTypes)
                    {
                        <option value="@item.BUDGET_TYPE_ID">@item.BUDGET_TYPE_NAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-row border-bottom mb-2">
            <div class="form-group col-12 col-md-3">
                <label class="require-field">หมวดค่าใช้จ่าย<fw-validate-error-output error-messages="$settings.formErrors.EXPENSES_GROUP_ID.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.EXPENSES_GROUP_ID" ng-disabled="$settings.isLoading||$settings.expensesGroups.length==0||!$settings.formData.RESERVE_ID" fw-select2
                        ng-change="expensesGroupChanged()">
                    <option value="empty">--- หมวดค่าใช้จ่าย ---</option>
                    <option ng-repeat="item in $settings.expensesGroups" value="{{item.EXPENSES_GROUP_ID}}">{{item.EXPENSES_GROUP_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label class="require-field">ค่าใช้จ่าย<fw-validate-error-output error-messages="$settings.formErrors.EXPENSES_ID.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.EXPENSES_ID" ng-disabled="$settings.isLoading||$settings.expenses.length==0||!$settings.formData.RESERVE_ID" fw-select2
                        ng-change="expensesChanged()">
                    <option value="empty">--- ค่าใช้จ่าย ---</option>
                    <option ng-repeat="item in $settings.expenses" value="{{item.EXPENSES_ID}}">{{item.EXPENSES_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3" ng-if="$settings.projects.length > 0">
                <label class="require-field animated fadeIn">โครงการ<fw-validate-error-output error-messages="$settings.formErrors.PROJECT_ID.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                <select class="form-control animated fadeIn" ng-model="$settings.formData.PROJECT_ID" ng-disabled="$settings.isLoading||$settings.projects.length==0||!$settings.formData.RESERVE_ID" fw-select2>
                    <option value="empty">--- โครงการ ---</option>
                    <option ng-repeat="item in $settings.projects" value="{{item.PROJECT_ID}}">{{item.PROJECT_NAME}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="text-danger f-w-900">จำนวนที่เบิกจ่าย</label>
                        <h4 class="text-danger f-w-900 f-28">{{$settings.formData.WITHDRAWAL_AMOUNT|displayDecimal:2}} บาท</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="form-group col-12">
                    <label class="require-field">เลขที่เอกสาร<fw-validate-error-output error-messages="$settings.formErrors.ReferDocNo.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                    <input type="text" class="form-control" ng-model="$settings.formData.ReferDocNo"
                              ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID" maxlength="15"
                              placeholder="เลขที่เอกสาร GMIF ในการปรับปรุงบัญชี" />
                </div>
                <div class="form-group col-12">
                    <label class="require-field">รายละเอียด<fw-validate-error-output error-messages="$settings.formErrors.RemarkText.ErrorMessages" css-class="ml-1"></fw-validate-error-output></label>
                    <textarea class="form-control textarea-noresize" ng-model="$settings.formData.RemarkText"
                              ng-disabled="$settings.isLoading||!$settings.formData.RESERVE_ID" maxlength="100"
                              rows="5" placeholder="ระบุรายละเอียดเพิ่มเติม ความยาวไม่เกิน 100 ตัวอักษร"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/content/select2")
}

@section Scripts{
    @Scripts.Render("~/bundle/select2")
<script type="text/javascript">
        angular.module('leaveApp').controller('AppController', function ($scope, $q, $customHttp, $fwModalHelperService, $fwModalService, $fwDialogService, $timeout) {
            $scope.$settings = {
                isLoading: false, isSaving: false,
                produces: [], activities: [],
                expensesGroups: [], expenses: [], projects: [],
                formSearch: {
                    withdrawalCode: ''
                },
                formData: {} // Initial by init
            };

            // จัดเตรียมค่าสำหรับฟอร์ม
            $scope.init = function () {
                $scope.$settings.formErrors = {};
                $scope.$settings.formData = {};
            };
            // กดค้นหาเลขที่ใบกันเงิน
            $scope.searchModal = function (event) {
                $fwModalHelperService.getWithdrawalReserveBudgetSelectOneModal(event, null, null, 1).then(function (selectedItem) {
                    $scope.$settings.formSearch.withdrawalCode = selectedItem.WITHDRAWAL_CODE;
                    $scope.submitSearch();
                }, function () { });
            };
            // ส่งคำขอค้นหา
            var submitSearchId = null;
            $scope.submitSearch = function () {
                $timeout.cancel(submitSearchId);
                submitSearchId = $timeout(function () {
                    $scope.$settings.isLoading = true;
                    $customHttp.formPost('@Url.Action("Retrieve", "BudgetReserveWithdrawalAdjustment")', { withdrawalCode: $scope.$settings.formSearch.withdrawalCode }).then(function (res) {
                        if (res.data.withdrawals.length == 0) {
                            $fwDialogService.dangerDialog(null, 'ไม่พบข้อมูลการเบิกจ่าย');
                            return;
                        }

                        $scope.init();
                        var rows = res.data.withdrawals || {};
                        $q(function (resolve, reject) {
                            if (rows.length == 1) {
                                resolve(rows[0]);
                                return;
                            }

                            $fwModalService.getModal('@Url.Action("GetSelectItemModal", "BudgetReserveWithdrawalCashback")', { $rows: rows }, function ($scope, $mdDialog, $rows) {
                                $scope.$settings = { withdrawals: $rows };
                                $scope.ok = function (row) {
                                    $mdDialog.hide(row);
                                };
                                $scope.close = function () {
                                    $mdDialog.cancel({});
                                };
                            }).then(function (row) {
                                resolve(row);
                            }, function () {
                               reject({});
                            });
                        }).then(function (row) {
                            $scope.$settings.formData = $.extend(true, {}, row);
                            $scope.$settings.formData.DEP_ID = '' + row.DEP_ID;
                            $scope.$settings.formData.PLAN_ID = '' + (row.PLAN_ID || 'empty');
                            $scope.$settings.formData.BUDGET_TYPE_ID = '' + (row.BUDGET_TYPE_ID || 'empty');

                            $scope.budgetTypeChanged().then(function () {
                                $scope.$settings.formData.EXPENSES_GROUP_ID = '' + (row.EXPENSES_GROUP_ID || 'empty');
                                $scope.expensesGroupChanged().then(function () {
                                    $scope.$settings.formData.EXPENSES_ID = '' + (row.EXPENSES_ID || 'empty');
                                    $scope.expensesChanged().then(function () {
                                        $scope.$settings.formData.PROJECT_ID = '' + (row.PROJECT_ID || 'empty');
                                    });
                                });
                            });

                            $scope.planChanged().then(function () {
                                $scope.$settings.formData.PRODUCE_ID = '' + (row.PRODUCE_ID || 'empty');
                                $scope.produceChanged().then(function () {
                                    $scope.$settings.formData.ACTIVITY_ID = '' + (row.ACTIVITY_ID || 'empty');
                                });
                            });
                        }, function () {
                            $scope.$settings.formData = {};
                            $scope.$settings.formSearch.withdrawalCode = '';
                        });

                        $scope.$settings.isLoading = false;
                    }, function () {
                        $scope.$settings.isLoading = false;
                    });
                }, 300);
            };
            // เมื่อเลขที่ใบกันเงินเปลี่ยนแปลง
            var withdrawalCodeChangedId = null;
            $scope.withdrawalCodeChanged = function () {
                $timeout.cancel(withdrawalCodeChangedId);
                withdrawalCodeChangedId = $timeout(function () {
                    $scope.init();
                    var withdrawalCode = $.trim($scope.$settings.formSearch.withdrawalCode);
                    if (withdrawalCode.length == 10)
                        $scope.submitSearch();
                }, 300);
            };
            // เมื่องบรายจ่าย เปลี่ยนแปลง
            var budgetTypeIdChangedId = null;
            $scope.budgetTypeChanged = function () {
                return $q(function (resolve) {
                    $timeout.cancel(budgetTypeIdChangedId);
                    budgetTypeIdChangedId = $timeout(function () {
                        $scope.$settings.expensesGroups = [];
                        $scope.$settings.expenses = [];
                        $scope.$settings.projects = [];
                        $scope.$settings.formData.EXPENSES_GROUP_ID = 'empty';
                        $scope.$settings.formData.EXPENSES_ID = 'empty';
                        $scope.$settings.formData.PROJECT_ID = 'empty';
                        var budgetTypeId = ('' + $scope.$settings.formData.BUDGET_TYPE_ID).replace('empty', '');
                        $customHttp.formPost('@Url.Action("RetrieveExpensesGroupByBudgetType", "Helper")', { budgetTypeId: budgetTypeId }).then(function (res) {
                            $scope.$settings.expensesGroups = res.data || [];
                            resolve({});
                        }, function () { resolve({}); });
                    }, 300);
                });
            };
            // เมื่อแผนงานเปลี่ยนแปลง
            var planChangedId = null;
            $scope.planChanged = function () {
                return $q(function (resolve) {
                    $timeout.cancel(planChangedId);
                    planChangedId = $timeout(function () {
                        $scope.$settings.formData.PRODUCE_ID = 'empty';
                        $scope.$settings.formData.ACTIVITY_ID = 'empty';
                        $scope.$settings.produces = [];
                        $scope.$settings.activities = [];

                        var planId = ('' + $scope.$settings.formData.PLAN_ID).replace(/[^\d]/ig, '');
                        if (planId != '')
                            $customHttp.formPost('@Url.Action("GetProduceBy", "Helper")', { planId: planId }).then(function (res) {
                                $scope.$settings.produces = res.data || [];
                                resolve({});
                            }, function () { resolve({}); });
                        else resolve({});
                    });
                });
            };
            // เมื่อผลผลิตเปลี่ยนแปลง
            var produceChangedId = null;
            $scope.produceChanged = function () {
                return $q(function (resolve) {
                    $timeout.cancel(produceChangedId);
                    produceChangedId = $timeout(function () {
                        $scope.$settings.formData.ACTIVITY_ID = 'empty';
                        $scope.$settings.activities = [];

                        var produceId = ('' + $scope.$settings.formData.PRODUCE_ID).replace(/[^\d]/ig, '');
                        if (produceId != '')
                            $customHttp.formPost('@Url.Action("GetActivityBy", "Helper")', { produceId: produceId }).then(function (res) {
                                $scope.$settings.activities = res.data || [];
                                resolve({});
                            }, function () { resolve({}); });
                        else resolve({});
                    });
                });
            };
            // เมื่อหมวดค่าใช้จ่าย เปลี่ยนแปลง
            var expensesGroupIdChangedId = null;
            $scope.expensesGroupChanged = function () {
                return $q(function (resolve) {
                    $timeout.cancel(expensesGroupIdChangedId);
                    expensesGroupIdChangedId = $timeout(function () {
                        $scope.$settings.expenses = [];
                        $scope.$settings.projects = [];
                        $scope.$settings.formData.EXPENSES_ID = 'empty';
                        $scope.$settings.formData.PROJECT_ID = 'empty';
                        var expensesGroupId = ('' + $scope.$settings.formData.EXPENSES_GROUP_ID).replace('empty', '');
                        $customHttp.formPost('@Url.Action("RetrieveExpensesByExpensesGroup", "Helper")', { expensesGroupId: expensesGroupId }).then(function (res) {
                            $scope.$settings.expenses = res.data || [];
                            resolve({});
                        }, function () { resolve({}); });
                    }, 300);
                });
            };
            // เมื่อค่าใช้จ่ายเปลี่ยนแปลง
            var expensesChangedId = null;
            $scope.expensesChanged = function () {
                return $q(function (resolve) {
                    $timeout.cancel(expensesChangedId);
                    expensesChangedId = $timeout(function () {
                        $scope.$settings.projects = [];
                        $scope.$settings.formData.PROJECT_ID = 'empty';
                        $customHttp.formPost('@Url.Action("RetrieveProjectBy", "BudgetReserve")', {
                            fiscalYear: $scope.$settings.formData.YR,
                            planId: ('' + $scope.$settings.formData.PLAN_ID).replace(/[^\d]/g, ''),
                            produceId: ('' + $scope.$settings.formData.PRODUCE_ID).replace(/[^\d]/g, ''),
                            activityId: ('' + $scope.$settings.formData.ACTIVITY_ID).replace(/[^\d]/g, ''),
                            budgetTypeId: ('' + $scope.$settings.formData.BUDGET_TYPE_ID).replace(/[^\d]/g, ''),
                            expensesGroupId: ('' + $scope.$settings.formData.EXPENSES_GROUP_ID).replace(/[^\d]/g, ''),
                            expensesId: ('' + $scope.$settings.formData.EXPENSES_ID).replace(/[^\d]/g, ''),
                            budgetType: $scope.$settings.formData.BUDGET_TYPE
                        }).then(function (res) {
                            $scope.$settings.projects = res.data || [];
                            resolve({});
                        }, function () { resolve({}); });
                    }, 400);
                });
            };
            // ส่งคำขอเพื่อบันทึก
            $scope.submitSave = function (event) {
                $scope.$settings.isLoading = true;
                $scope.$settings.isSaving = true;

                var params = $.extend(true, {
                    ProjectIdRequired: $scope.$settings.projects.length > 0
                }, $scope.$settings.formData);
                params.DEP_ID = ('' + params.DEP_ID).replace(/[^\d]/g, '');
                params.PLAN_ID = ('' + params.PLAN_ID).replace(/[^\d]/g, '');
                params.PRODUCE_ID = ('' + params.PRODUCE_ID).replace(/[^\d]/g, '');
                params.ACTIVITY_ID = ('' + params.ACTIVITY_ID).replace(/[^\d]/g, '');
                params.BUDGET_TYPE_ID = ('' + params.BUDGET_TYPE_ID).replace(/[^\d]/g, '');
                params.EXPENSES_GROUP_ID = ('' + params.EXPENSES_GROUP_ID).replace(/[^\d]/g, '');
                params.EXPENSES_ID = ('' + params.EXPENSES_ID).replace(/[^\d]/g, '');
                params.PROJECT_ID = ('' + params.PROJECT_ID).replace(/[^\d]/g, '');
                $customHttp.formPost('@Url.Action("SubmitSave", "BudgetReserveWithdrawalAdjustment")', params).then(function (res) {
                    $scope.$settings.formErrors = res.data.errors || {};
                    if (null != res.data.errorText)
                        $fwDialogService.dangerDialog(event, res.data.errorText);
                    else if (null != res.data.errors)
                        $fwDialogService.dangerDialog(event, 'โปรดตรวจสอบค่าต่างๆที่ระบบแจ้งให้เรียบร้อยก่อน');
                    else
                        $fwDialogService.alertDialog(event, 'ปรับปรุงบัญชีเรียบร้อยแล้ว').then(function () {
                            $scope.init();
                            $scope.$settings.formSearch.withdrawalCode = '';
                            $timeout(function () {
                                $('#withdrawalCode').focus();
                            }, 300);
                        });
                    $scope.$settings.isLoading = false;
                    $scope.$settings.isSaving = false;
                }, function () {
                    $scope.$settings.isLoading = false;
                    $scope.$settings.isSaving = false;
                });
            };



            // เตรียมค่าเริ่มต้นของฟอร์ม
            $scope.init();
            $timeout(function () {
                $('#withdrawalCode').focus();
            }, 300);
        });
</script>
}
