@{
    string fileVersion = "2021_08_14";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>เข้าสู่ระบบ - ระบบบริหารจัดการงบประมาณ</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/Third_Party/assets/pages/html5shiv.js"></script>
      <script src="~/Third_Party/assets/pages/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="author" content="#">
    <!-- Favicon icon -->

    <link rel="icon" href="~/Third_Party/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">

    <link rel="preload" href="~/Third_Party/bower_components/bootstrap/bootstrap.min.css" as="style" />
    <link rel="preload" href="~/Third_Party/assets/css/style.min.css?@fileVersion" as="style" />
    <link rel="preload" href="~/Third_Party/bower_components/jquery/js/jquery.min.js" as="script" />
    <link rel="preload" href="~/Third_Party/assets/fonts/CSChatThaiUI.ttf" as="font" />

    @*Base style*@
    <link rel="stylesheet" href="~/Third_Party/bower_components/bootstrap/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="~/Third_Party/bower_components/jquery-ui/jquery-ui.min.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="~/Third_Party/bower_components/animate.css/css/animate.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="~/Third_Party/assets/css/style.min.css?@fileVersion" media="screen" />
    <link href="~/Third_Party/assets/css/ionicons.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'" />

    @*@Styles.Render("~/content/css")*@
    <style>
        .auth-bg {
            background-color: #ffffff;
        }

        body, .common-img-bg {
            background: linear-gradient(110deg, #4394E5 60%, #8ABCEF 60%);
        }

        .f-color {
            color: #5b5b5b !important;
        }

        #info {
            width: 100%;
            max-width: 330px;
            z-index: 1;
            transition: 1s;
            left: 0;
            @*background-image: url('@Html.Raw(@Url.Action("GetImage", "Resource", new { groupType = "third_party", filename = "pattern.webp"}))');
            background-repeat: repeat-y;
            background-size:contain;*@
        }

            #info span.ion-close-round {
                transition: 1.2s;
                opacity: 1;
                -webkit-opacity: 1;
                display: block;
            }

            #info span.ion-chevron-right {
                display: none;
                transition: 1.2s;
                opacity: 0;
                -webkit-opacity: 0;
            }


        .info-hide {
            transition: 1s;
            left: -330px !important;
        }

            .info-hide span.ion-close-round {
                transform: rotate(180deg);
                transition: opacity 1.2s;
                opacity: 0 !important;
                -webkit-opacity: 0 !important;
            }

            .info-hide span.ion-chevron-right {
                transition: opacity 1.2s 1s;
                opacity: 1 !important;
                -webkit-opacity: 1 !important;
                animation-name: span_scaleIn;
                animation-duration: 0.5s;
            }

        @@keyframes span_scaleIn {
            0% {
                opacity: 0;
                transform: scale(3);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
    </style>
</head>

<body class="fix-menu" ng-app="leaveApp" ng-controller="AppController">

    <section class="login p-fixed d-flex text-center common-img-bg">
        @*ข่าวประกาศ*@
        <div class="position-fixed h-100 shadow border-0 bg-white" id="info">
            <h1 class="f-w-900 f-20 p-3 text-white" style="background-color:#000;">กรมสรรพสามิต</h1>
            <div class="p-0 m-0  overflow-auto h-100">
                <div class="position-absolute f-16 p-3 text-white f-w-900" style="background-color:#000;top:0;right:-40px;min-width:35px;">
                    <span class="cursor-pointer ion-close-round" id="toggle" onClick="toggleInfo()"></span>
                    <span class="cursor-pointer ion-chevron-right" id="toggle" onClick="toggleInfo()"></span>
                </div>
                <div class="p-3 text-left">
                    <div class="f-w-900 border-bottom mb-2 pb-2">ระบบบริหารจัดการงบประมาณ</div>
                    <ul>
                        <li class="mb-2 f-16">ขั้นตอนการใช้งานระบบ</li>
                        <li class="mb-2">A. ระบบจะเชื่อมต่อผู้ใช้งานกับ SSO ของกรมสรรพสามิต</li>
                        <li class="mb-2">B. การเข้าใช้งานในครั้งแรกระบบจะนำ ผู้ใช้งาน ไปยังหน้ากรอกข้อมูลส่วนบุคคล เพื่อยืนยันข้อมูลก่อนใช้ระบบ</li>
                        <li class="mb-2">C. <strong>หากยังทำขั้นตอน B ไม่สมบูรณ์</strong>&nbsp;ระบบจะนำ ผู้ใช้งานไปยังหน้ากรอกข้อมูลส่วนบุคคล</li>
                    </ul>
                </div>

                <div class="mt-5">
                    <a href="@Url.Action("GetManual", "Resource")" target="_blank" class="f-w-900 f-16 text-primary"><span class="mr-2">>></span>ดาวน์โหลดคู่มือ<span class="ml-2"><<</span></a>
                </div>
                <div style="height:200px">&nbsp;</div>@*กรณีเกิด Scrollbar มองไม่เห็นปุ่มดาวน์โหลด*@
            </div>
        </div>


        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body m-auto animated swing">
                        <div class="block text-center mb-md-n5">
                            <img src="@Url.Action("GetImage", "Resource", new { groupType = "third_party", filename = "excise-planing-logo.webp"})" class="img-fluid" style="max-width:90px;" alt="avatar-2.png">
                        </div>
                        <form class="md-float-material" method="post" action="@Url.Action("LoginForm", "Authorize")">
                            <div class="auth-box auth-bg shadow rounded">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            @*<img src="@Url.Action("GetImage", "Resource", new { groupType = "third_party", filename = "excise-planing-logo.png"})" class="img-fluid" alt="avatar-2.png">*@
                                            <h3><span class="text-dark">ระบบบริหารจัดการงบประมาณ</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="d-flex flex-column text-left">
                                    <input type="text" class="form-control f-color p-4 mb-2" name="userName" id="userName" autocomplete="off" placeholder="@(ViewBag.LoginType=="SSO"?"ชื่อผู้ใช้งาน SSO กรมสรรพสามิต":"อีเมล์")" value="@ViewBag.UserName">
                                    <input type="password" name="userPass" class="form-control f-color p-4" autocomplete="off" placeholder="รหัสผ่าน@(ViewBag.LoginType=="SSO"?" SSO กรมสรรพสามิต":"")">
                                </div>
                                <div class="row m-t-15">
                                    <div class="col-md-12">
                                        <button type="submit" onclick="showMessage()"
                                                style="background-color:#000"
                                                class="btn p-3 f-w-900 btn-md btn-block waves-effect text-center m-b-20 f-22">
                                            <span style="color:#fff;">เข้าสู่ระบบ</span>
                                        </button>
                                        <div class="text-danger f-w-900 f-14 text-left">
                                            <span class="animated fadeIn text-danger" id="message">@ViewBag.ErrorMessage</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

    <div class="position-fixed fixed-bottom p-3 bg-dark text-center text-white">
        <span>เวอร์ชั่น 1.0.0</span>
    </div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="~/Third_Party/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="~/Third_Party/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="~/Third_Party/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="~/Third_Party/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="~/Third_Party/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Third_Party/bower_components/jquery/js/jquery.min.js"></script>
    @*<script type="text/javascript" async src="~/Third_Party/bower_components/jquery-ui/jquery-ui.min.js"></script>
            <script type="text/javascript" async src="~/Third_Party/bower_components/popper.js/js/popper.min.js"></script>
        <script type="text/javascript" async src="~/Third_Party/bower_components/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" async src="~/Third_Party/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
        <script type="text/javascript" async src="~/Third_Party/bower_components/modernizr/js/modernizr.js"></script>
            <script type="text/javascript" async src="~/Third_Party/bower_components/modernizr/js/css-scrollbars.js"></script>*@
    <script type="text/javascript" src="~/Third_Party/assets/js/client.min.js"></script>

    <script type="text/javascript">

        window.setTimeout(function () {
            $('#userName').focus();
        }, 200);

        function showMessage() {
            $('#message').text('กำลังตรวจสอบสิทธิ์ โปรดรอสักครู่ ...')
        };

        function toggleInfo() {
            $('#info').toggleClass('info-hide');
            setTimeout(function () {
                $('#info span.ion-close-round').toggleClass('d-none');
                $('#info span.ion-chevron-right').toggleClass('d-block');
            }, 900);
        }

        var client = new ClientJS();
        if (client.isMobile()) {
            toggleInfo();
        }
    </script>
</body>

</html>
