
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AppController">

    @*เงื่อนไขการกรองข้อมูล*@
    <div class="card card-block borderless-card shadow-sm rounded-sm m-0 mb-2">
        <div class="form-row">
            <div class="form-group col-12 col-md-4">
                <label>หน่วยงาน</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.forDepId" ng-disabled="$settings.isLoading"
                        ng-change="submitSearch()">
                    <option value="empty">--- หน่วยงาน ---</option>
                    @foreach (ExcisePlaning.Classes.Mappers.DepartmentShortFieldProperty item in ViewBag.Departments)
                    {
                        <option value="@item.DEP_ID">@item.DEP_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-4">
                <label>แสดงเฉพาะที่ใช้กับปี งปม. (พ.ศ.)</label>
                <fw-input-mask model="$settings.formSearch.forYear"
                               change="forYearChanged()"
                               mask="9999"
                               placeholder="แสดงเฉพาะที่ใช้กับปี งปม. ระบุปี พ.ศ."></fw-input-mask>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-4">
                <label>แผนงาน</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.planId" ng-disabled="$settings.isLoading"
                        ng-change="submitSearch()">
                    <option value="empty">--- แผนงาน ---</option>
                    @foreach (ExcisePlaning.Classes.Mappers.PlanShortFieldProperty item in ViewBag.Plans)
                    {
                        <option value="@item.PLAN_ID">@item.PLAN_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-4">
                <label>ผลผลิต</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.produceId" ng-disabled="$settings.isLoading"
                        ng-change="submitSearch()">
                    <option value="empty">--- ผลผลิต ---</option>
                    @foreach (ExcisePlaning.Classes.Mappers.ProduceShortFieldProperty item in ViewBag.Produces)
                    {
                        <option value="@item.PRODUCE_ID">@item.PRODUCE_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-4">
                <label>กิจกรรม</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.activityId" ng-disabled="$settings.isLoading"
                        ng-change="submitSearch()">
                    <option value="empty">--- กิจกรรม ---</option>
                    @foreach (ExcisePlaning.Classes.Mappers.ActivityShortFieldProperty item in ViewBag.Activities)
                    {
                        <option value="@item.ACTIVITY_ID">@item.ACTIVITY_NAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-4">
                <label>งบรายจ่าย</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.budgetTypeId" ng-disabled="$settings.isLoading"
                        ng-change="budgetTypeChanged()">
                    <option value="empty">--- งบรายจ่าย ---</option>
                    @foreach (ExcisePlaning.Classes.Mappers.BudgetTypeShortFieldProperty item in ViewBag.BudgetTypes)
                    {
                        <option value="@item.BUDGET_TYPE_ID">@item.BUDGET_TYPE_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-4">
                <label>หมวด คชจ.<span class="ml-1" ng-if="$settings.isLoadExpensesGroup"><i class="ti-reload rotate-refresh animated fadeIn"></i></span></label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.expensesGroupId" ng-disabled="$settings.isLoading"
                        ng-change="submitSearch()">
                    <option value="empty">--- หมวด คชจ. ---</option>
                    <option ng-repeat="row in $settings.expensesGroups" value="{{row.EXPENSES_GROUP_ID}}">{{row.EXPENSES_GROUP_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-4">
                <label>ชื่อ Template</label>
                <input type="text" class="form-control" ng-model="$settings.formSearch.templateName"
                       ng-change="templateNameChanged()" />
            </div>
        </div>
    </div>


    <div class="card card-block borderless-card shadow-sm m-0 mb-2">
        <div class="form-row">
            <div class="col-12">
                <fw-execute-button text="สร้าง Template ใหม่" css-class="btn btn-primary float-md-right btn-sm"
                                   css-icon-class="icofont icofont-plus"
                                   ng-click="newTemplate($event)"
                                   ng-disabled="$settings.isLoading"></fw-execute-button>
            </div>
        </div>
        <fw-simple-data-table columns="$settings.tableConfigs.columns"
                              title=""
                              auto-load="false"
                              disabled="$settings.isLoading"
                              row-click-callback="rowClick($event, $row, $columnConfig)"
                              route-url="@Url.Action("Retrieve", "BudgetRequestTemplate")"></fw-simple-data-table>
    </div>
</div>


@section Styles{
    @Styles.Render("~/content/select2")
}
@section Scripts{
    @Scripts.Render("~/bundle/select2")
    @Scripts.Render("~/bundle/inputmask")
    <script type="text/javascript">
        angular.module('leaveApp').controller('AppController', function ($scope, $fwDateService, $customHttp, $timeout, $fwModalHelperService) {
            $scope.$settings = {
                isLoading: false,
                expensesGroups: [], isLoadExpensesGroup: false,
                formSearch: {
                    templateName: '',
                    planId: 'empty',
                    produceId: 'empty',
                    activityId: 'empty',
                    budgetTypeId: 'empty',
                    expensesGroupId: 'empty',
                    forYear: null, // เฉพาะที่ใช้กับปี งปม. ใด
                    forDepId: '@ViewBag.DepartmentId' // เฉพาะที่ใช้กับหน่วยงานใด
                },
                tableConfigs: {
                    columns: [
                        {
                            label: 'ชื่อ Template', className: 'text-left word-wrap', type: 'html', params: 'BTN_EDIT',
                            field: '<a href="javascript:void(0)" class="text-primary f-w-900">{{row.TEMPLATE_NAME}}<sup class="ml-2 f-12 ti-new-window"></sup></a>', style: 'min-width:200px;max-width:200px;width:200px;'
                        },
                        { label: 'วันที่สร้าง', className: 'text-left word-wrap', type: 'expression', field: '{{row.CREATED_DATETIME|sqlDate:\'\':null:true}}', style: 'width:170px;max-width:170px;min-width:170px;' },
                        { label: 'แผนงาน', className: 'text-left word-wrap', type: 'field', field: 'PLAN_NAME', style: 'min-width:155px;max-width:155px;width:155px;' },
                        { label: 'ผลผลิต', className: 'text-left word-wrap', type: 'field', field: 'PRODUCE_NAME', style: 'min-width:155px;max-width:155px;width:155px;' },
                        { label: 'กิจกรรม', className: 'text-left word-wrap', type: 'field', field: 'ACTIVITY_NAME', style: 'min-width:155px;max-width:155px;width:155px;' },
                        { label: 'งบรายจ่าย', className: 'text-left word-wrap', type: 'field', field: 'BUDGET_TYPE_NAME', style: 'min-width:155px;max-width:155px;width:155px;' },
                        { label: 'หมวด คชจ.', className: 'text-left word-wrap', type: 'field', field: 'EXPENSES_GROUP_NAME', style: 'min-width:155px;max-width:155px;width:155px;' },
                        {
                            label: 'สิทธิ์หน่วยงาน', className: 'text-left word-wrap', type: 'html',
                            field: '<span ng-if="row.SHARED_DEP_TEMPLATE==1">ทุกหน่วยงาน</span>' +
                                '<span class="text-danger" ng-if="row.SHARED_DEP_TEMPLATE==2">บางหน่วยงาน</span>',
                            style: 'min-width:115px;max-width:115px;width:115px;'
                        },
                        {
                            label: 'สิทธิ์ปีงบประมาณ', className: 'text-left word-wrap', type: 'html',
                            field: '<span ng-if="row.SHARED_YR_TEMPLATE==1">ทุกปี งปม.</span>' +
                                '<span class="text-danger" ng-if="row.SHARED_YR_TEMPLATE==2">บางปี งปม.</span>',
                            style: 'min-width:115px;max-width:115px;width:115px;'
                        }
                    ]
                }
            };

            // เมื่อชื่อ Template เปลี่ยนแปลง
            var templateNameChangedId = null;
            $scope.templateNameChanged = function () {
                $timeout.cancel(templateNameChangedId);
                templateNameChangedId = $timeout(function () {
                    $scope.submitSearch();
                }, 700);
            };
            // เมื่อปี งปม. เปลี่ยนแปลง
            var forYearChangedId = null;
            $scope.forYearChanged = function () {
                $timeout.cancel(forYearChangedId);
                forYearChangedId = $timeout(function () {
                    var forYearVal = ($scope.$settings.formSearch.forYear || '').replace(/[^\d]/g, '');
                    if (forYearVal.length == 4)
                        $scope.submitSearch();
                }, 700);
            };
            // เมื่องบรายจ่าย เปลี่ยนแปลง
            var budgetTypeChangedId = null;
            $scope.budgetTypeChanged = function () {
                $timeout.cancel(budgetTypeChangedId);
                budgetTypeChangedId = $timeout(function () {
                    $scope.$settings.expensesGroups = [];
                    $scope.$settings.formSearch.expensesGroupId = 'empty'; // ยกเลิกค่าที่เลือกไว้

                    var budgetTypeId = ($scope.$settings.formSearch.budgetTypeId || '').replace('empty', '');
                    if ('' != budgetTypeId) {
                        $scope.$settings.isLoadExpensesGroup = true;
                        $customHttp.formPost('@Url.Action("RetrieveExpensesGroupByBudgetType", "Helper")', {
                            budgetTypeId: budgetTypeId
                        }).then(function (res) {
                            $scope.$settings.expensesGroups = res.data || [];
                            $scope.$settings.isLoadExpensesGroup = false;

                            // ส่งคำขอค้นหาข้อมูล
                            $scope.submitSearch();
                        }, function () {
                            $scope.$settings.isLoadExpensesGroup = false;
                        });
                    }
                }, 300);
            };
            // ส่งคำขอการค้นหาข้อมูล
            var submitSearchId = null;
            $scope.submitSearch = function () {
                $timeout.cancel(submitSearchId);
                submitSearchId = $timeout(function () {

                    // แปลงปี พ.ศ. => ค.ศ.
                    var forYearVal = ($scope.$settings.formSearch.forYear || '').replace(/[^\d]/g, '');
                    if (forYearVal.length == 4)
                        forYearVal = $fwDateService.convertYearToBritish(forYearVal);
                    else forYearVal = '';

                    $scope.$broadcast('fwSimpleDataTable.paramsChanged', {
                        templateName: $scope.$settings.formSearch.templateName,
                        forYear: forYearVal,
                        forDepId: ($scope.$settings.formSearch.forDepId || '').replace('empty', ''),
                        planId: ($scope.$settings.formSearch.planId || '').replace('empty', ''),
                        produceId: ($scope.$settings.formSearch.produceId || '').replace('empty', ''),
                        activityId: ($scope.$settings.formSearch.activityId || '').replace('empty', ''),
                        budgetTypeId: ($scope.$settings.formSearch.budgetTypeId || '').replace('empty', ''),
                        expensesGroupId: ($scope.$settings.formSearch.expensesGroupId || '').replace('empty', ''),
                    });
                }, 300);
            };
            // เมื่อ Template เปลี่ยนแปลง
            var templateNameChangedId = null;
            $scope.templateNameChanged = function () {
                $timeout.cancel(templateNameChangedId);
                templateNameChangedId = $timeout(function () {
                    $scope.submitSearch();
                }, 700);
            };
            // เมื่อคลิกสร้าง Template ใหม่
            $scope.newTemplate = function (event) {
                $fwModalHelperService.createOrUpdateBudgetRequestTemplate(event, null, '1').then(function () {
                    $scope.submitSearch();
                });
            };
            // เมื่อคลิกที่แถวข้อมูล
            $scope.rowClick = function (event, row, columnConfig) {
                var elTagName = event.target.tagName;
                if (columnConfig.params == 'BTN_EDIT' && elTagName == 'A') {
                    $fwModalHelperService.createOrUpdateBudgetRequestTemplate(event, row, '1').then(function () {
                        $scope.submitSearch();
                    });
                }
            };

            // กำหนดค่าเริ่มต้นให้กับหน้าฟอร์ม
            $timeout(function () {
                $scope.submitSearch();
            }, 200);
        });
    </script>
}

