<div id="appLogo" class="text-center text-white f-36 mt-4 mb-3">
    @*ซ่อน Logo ของระบบในกรณีที่แสดงผลบนอุปกรณ์ขนาดเล็ก*@
    <div class="d-none d-md-block">
        <img src="@Url.Action("GetImage", "Resource", new { groupType = "third_party", filename = "leave-logo-main.png"})"
             class="img img-fluid" alt="leave-logo-main.png" />
    </div>

    @*ถ้าแสดงผลบนอุปกรณ์ขนาดเล็กให้กำหนด Margin ไว้ 4 เพื่อไม่ให้เมนูถูกบัง*@
    <div class="d-block d-md-none pb-2 border-bottom" style="margin-top:75px;">
        <div class="default-font-color f-12 text-center">
            <i class="ti-user mr-1"></i>@ViewBag.LoginName
        </div>
    </div>
</div>
@*<div class="text-center text-white border-bottom pb-2">@ViewBag.LoginName</div>*@
<ul class="pcoded-item pcoded-left-item">
    @foreach (ExcisePlaning.Classes.Mappers.UserMenuGroupProperty groupItem in ViewBag.MenuGroups)
    {
        if (string.IsNullOrEmpty(groupItem.GroupName))
        {
            <li class="@(groupItem.UserMenus[0].MenuConst.Equals(ViewBag.MenuConst) ? "active" : "")">
                <a href="@Url.Action(groupItem.UserMenus[0].ActionName, groupItem.UserMenus[0].RouteName)@(string.IsNullOrEmpty(groupItem.UserMenus[0].QueryString) ? "" : "?" + groupItem.UserMenus[0].QueryString)">
                    <span class="pcoded-micon"><i class="@(groupItem.UserMenus[0].MenuIcon) "></i></span>
                    <span class="pcoded-mtext">@(groupItem.UserMenus[0].MenuName)</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        }
        else
        {
            //กรณีเมนูนั้นเป็นรายงาน ให้ลิ้งไปยัง ReportMainPageController เพื่อวาดรายชื่อเมนู และลิ้งเข้าไปยังหน้าจออีกที
            if (groupItem.GroupName.Equals("รายงาน"))
            {
                <li class="@(ViewBag.MenuConst.Equals("REPORT_MAIN_PAGE") ? "active" : " ")">
                    <a href="@Url.Action("GetForm", "ReportMainPage")">
                        <span class="pcoded-micon"><i class="@groupItem.GroupIcon"></i></span>
                        <span class="pcoded-mtext">@groupItem.GroupName</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            }
            else
            {
                <li class="pcoded-hasmenu @(groupItem.UserMenus.Where(m => m.MenuConst.Equals(ViewBag.MenuConst)).Any() ? " active pcoded-trigger " : "")">
                    <a href="javascript:void(0)" class="@(groupItem.IsAlert?"animated tada":"")">
                        <span class="pcoded-micon"><i class="@(groupItem.GroupIcon)"></i></span>
                        <span class="pcoded-mtext">
                            @(groupItem.GroupName)
                            @if (groupItem.IsAlert)
                            {
                                <i class="ion-ios-bell f-16 f-w-900 animated jello text-danger"></i>
                            }
                        </span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                        @foreach (ExcisePlaning.Classes.Mappers.UserAuthorizeMenuProperty menuItem in groupItem.UserMenus)
                        {
                            <li class="@(menuItem.MenuConst.Equals(ViewBag.MenuConst) ? "active" : " ")">
                                <a href="@Url.Action(menuItem.ActionName, menuItem.RouteName)@(string.IsNullOrEmpty(menuItem.QueryString) ? "" : "?" + menuItem.QueryString)">
                                    <span class="pcoded-micon"><i class="@(menuItem.MenuIcon)"></i></span>
                                    <span class="pcoded-mtext">@(menuItem.MenuName)</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    }

    <li class=" ">
        <a href="@Url.Action("Logout", "Authorize")">
            <span class="pcoded-micon"><i class="ti-power-off"></i></span>
            <span class="pcoded-mtext">ออกจากระบบ</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    @*<li class="@("DASHBOARD_INDEX".Equals(ViewBag.pageKey) ? "active" : "")">
            <a href="@Url.Action("Index", "Dashboard")">
                <span class="pcoded-micon"><i class="ti-home"></i></span>
                <span class="pcoded-mtext" data-i18n="nav.widget.main">หน้าแรก</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li class="@("LEAVE".Equals(ViewBag.pageKey) ? "active" : "")">
            <a href="@Url.Action("Index", "Leave")">
                <span class="pcoded-micon"><i class="ti-user"></i></span>
                <span class="pcoded-mtext" data-i18n="nav.widget.main">ข้อมูลการลา</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li class="@("OT".Equals(ViewBag.pageKey) ? "active" : "")">
            <a href="@Url.Action("Index", "Overtime")">
                <span class="pcoded-micon"><i class="ti-stats-down"></i></span>
                <span class="pcoded-mtext" data-i18n="nav.widget.main">ข้อมูล OT</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li class="@("REPORTs".Equals(ViewBag.pageKey) ? "active" : "")">
            <a href="@Url.Action("Index", "Dashboard")">
                <span class="pcoded-micon"><i class="ti-file"></i></span>
                <span class="pcoded-mtext" data-i18n="nav.widget.main">ข้อมูลรายงาน</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>*@
    @*<li class="">&nbsp;</li>
        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>*@
    <li class="">&nbsp;</li>
    <li class="">&nbsp;</li>
    <li class="">&nbsp;</li>
    <li class="">&nbsp;</li>
    <li class="">&nbsp;</li>
    <li class="">&nbsp;</li>
    @*<li class="">
            <a href="@Url.Action("Symbol", "SystemInfo")">
                <span class="pcoded-micon f-12"><i class="ti-flag"></i></span>
                <span class="pcoded-mtext f-12" data-i18n="nav.widget.main">สัญลักษณ์</span>
                <span class="pcoded-mcaret f-12"></span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Manual", "SystemInfo")">
                <span class="pcoded-micon f-12"><i class="icon-question"></i></span>
                <span class="pcoded-mtext f-12" data-i18n="nav.widget.main">วิธีการใช้งาน</span>
                <span class="pcoded-mcaret f-12"></span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Contact", "SystemInfo")">
                <span class="pcoded-micon f-12"><i class="icon-call-out"></i></span>
                <span class="pcoded-mtext f-12" data-i18n="nav.widget.main">ศูนย์รับแจ้งปัญหา</span>
                <span class="pcoded-mcaret f-12"></span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("SystemUpdate", "SystemInfo")">
                <span class="pcoded-micon f-12"><i class="ti-info"></i></span>
                <span class="pcoded-mtext f-12" data-i18n="nav.widget.main">การปรับปรุงล่าสุด</span>
                <span class="pcoded-mcaret f-12"></span>
            </a>
        </li>*@



    @*<li class="pcoded-hasmenu @(null != ViewBag.pageKey && ViewBag.pageKey.StartsWith("PROCUREMENT") ? "active pcoded-trigger" : "")">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-price"></i></span>
                <span class="pcoded-mtext">Procurement</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
                <li class="@("PROCUREMENT_CREATE_PURCHASE_ORDER".Equals(ViewBag.pageKey) ? "active" : "")">
                    <a href="@Url.Action("CreatePurchaseOrderForm", "PurchaseOrder")">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Create Purchase Order</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Post Petty Cash</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pcoded-hasmenu @(null != ViewBag.pageKey && ViewBag.pageKey.StartsWith("INVENTORY") ? "active pcoded-trigger" : "")">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-growth"></i></span>
                <span class="pcoded-mtext">Inventory Management</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
                <li class="@("INVENTORY_REQUEST_MATERIAL".Equals(ViewBag.pageKey) ? "active" : "")">
                    <a href="@Url.Action("CreateMaterialForm", "Material")">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Request Material</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class="@("INVENTORY_REPLENISHMENT_PROPOSAL".Equals(ViewBag.pageKey) ? "active" : "")">
                    <a href="@Url.Action("Replenishment_Form", "Replenishment")">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Replenishment Proposal Display</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>

                <li><div class="pcoded-navigatio-lavel">Post Goods Receipt (GR)</div></li>
                <li class="@("INVENTORY_RECEIPT_PURCHASE_ORDER".Equals(ViewBag.pageKey) ? "active" : "")">
                    <a href="@Url.Action("ReceiptPurchaseOrder_Form", "PurchaseOrder")">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Ref. Purchase Order</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class="@("INVENTORY_RECEIPT_MATERIAL_ORDER".Equals(ViewBag.pageKey) ? "active" : "")">
                    <a href="@Url.Action("ReceiptMaterial_Form", "Material")">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Ref. Material Request</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class="@("INVENTORY_RECEIPT_RECEIPT_PROPOSAL".Equals(ViewBag.pageKey) ? "active" : "")">
                    <a href="@Url.Action("ReceiptReplenishment_Form", "Replenishment")">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Ref. Replenishment Proposal</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>

                <li><div class="pcoded-navigatio-lavel">Post Goods issue (GI)</div></li>
                <li class="">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Ref. Sales BOM</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Due to Waste</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>

                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Stock Adjustment (Count)</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-spreadsheet"></i></span>
                <span class="pcoded-mtext">End of Day</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Display Solid Items</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Display Consumption Ref. Sales BOM</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Input Stock Waste</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Input Stock Count</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-gift"></i></span>
                <span class="pcoded-mtext">Voucher Management</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Generate Voucher Number</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">Update Voucher Status</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </li>


        <li class=" ">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-shopping-cart"></i></span>
                <span class="pcoded-mtext">Sell Voucher (Line BC/Web/Applicaiton)</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>*@
</ul>