
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AppController">
    <div class="card card-block borderless-card shadow-sm m-0 mb-1">
        <div class="form-row">
            <div class="form-group col-12 col-md-2 mb-0">
                <label>ปีงบประมาณ (พ.ศ.)<fw-validate-error-output css-class="ml-1" error-messages="$settings.formErrors.FiscalYear.ErrorMessages"></fw-validate-error-output></label>
                <div class="input-group">
                    <fw-input-mask model="$settings.formData.FiscalYear"
                                   mask="9999" placeholder="ปีงบประมาณ พ.ศ."
                                   change="fiscalYearChanged()"></fw-input-mask>
                </div>
            </div>
            <div class="form-group col-12 col-md-3 mb-0">
                <label class="required-field">เดือน<fw-validate-error-output css-class="ml-1" error-messages="$settings.formErrors.MonthNo.ErrorMessages"></fw-validate-error-output></label>
                <select class="form-control" ng-model="$settings.formData.MonthNo" ng-disabled="$settings.isLoading"
                        fw-select2 ng-change="submitSearch()">
                    <option value="empty">--- เดือน ---</option>
                    <option value="1">มกราคม</option>
                    <option value="2">กุมภาพันธ์</option>
                    <option value="3">มีนาคม</option>
                    <option value="4">เมษายน</option>
                    <option value="5">พฤษภาคม</option>
                    <option value="6">มิถุนายน</option>
                    <option value="7">กรกฏาคม</option>
                    <option value="8">สิงหาคม</option>
                    <option value="9">กันยายน</option>
                    <option value="10">ตุลาคม</option>
                    <option value="11">พฤษจิกายน</option>
                    <option value="12">ธันวาคม</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-7 mb-0">
                <label class="d-none d-md-block">&nbsp;</label>
                <fw-execute-button text="บันทึก" css-class="btn btn-primary float-md-right btn-sm mt-1 mt-md-0"
                                   css-icon-class="ti-save"
                                   ng-disabled="$settings.isLoading||$settings.formView.mode=='edit'"
                                   ng-click="submitSave($event)"></fw-execute-button>
            </div>
        </div>
    </div>


    <div class="card card-block borderless-card shadow-sm m-0 mb-1">
        <div class="row">
            <div class="col-12">
                <input type="text" class="p-2 m-0 mb-1 border float-md-right" style="width:340px;" ng-model="$settings.filterText" ng-disabled="$settings.isLoading" placeholder="ค้นหา ระบุบางส่วนของคำประเภทรายได้ภาษี" />
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr class="bg-light">
                    <th rowspan="2" style="width:75px;min-width:75px;max-width:75px;"></th>
                    <th rowspan="2" style="min-width:200px;" class="text-left">ประเภทรายได้ภาษี<div class="f-12 text-danger">จำนวน {{($settings.formData.TaxForcastIncomes|filter:{TAX_SOURCE_NAME: $settings.filterText}).length|number:0}} รายการ</div></th>
                    <th colspan="3" class="text-center">ประมาณการรายได้ภาษี (บาท)</th>
                    <th rowspan="2" style="width:150px;min-width:150px;max-width:150px;" class="text-right">ภาษีเพื่อมหาดไทย</th>
                    <th colspan="2" class="text-center">เงินค่าใช้จ่ายท้องถิ่น (บาท)</th>
                </tr>
                <tr class="bg-light">
                    <th style="width:150px;min-width:150px;max-width:150px;" class="text-right">ในประเทศ</th>
                    <th style="width:150px;min-width:150px;max-width:150px;" class="text-right">นำเข้า</th>
                    <th style="width:150px;min-width:150px;max-width:150px;" class="text-right">รวม</th>
                    <th style="width:150px;min-width:150px;max-width:150px;" class="text-right">ในประเทศ</th>
                    <th style="width:150px;min-width:150px;max-width:150px;" class="text-right">นำเข้า</th>
                </tr>
                <tr ng-repeat="row in $settings.formData.TaxForcastIncomes|filter:{TAX_SOURCE_NAME: $settings.filterText}">
                    <td style="width:75px;min-width:75px;max-width:75px;" class="text-center">
                        <a href="javascript:void(0)" class="text-primary d-block border-bottom mb-1 pb-1" ng-click="adjustment($event, row)" ng-if="row.FORCAST_INCOME_ID"><span class="animated fadeIn">ปรับปรุง</span></a>
                        <a href="javascript:void(0)" class="text-warning d-block" ng-click="history($event, row)" ng-if="row.FORCAST_INCOME_ID"><span class="animated fadeIn">ประวัติ</span></a>
                    </td>
                    <th style="min-width:200px;" class="text-left bg-light text-primary">{{row.TAX_SOURCE_NAME}}</th>
                    <td style="width:150px;min-width:150px;max-width:150px;" class="text-right">
                        <fw-input-number-mask ng-model="row.DOMESTIC_INCOME_AMOUNT" ng-disabled="$settings.isLoading||row.FORCAST_INCOME_ID"
                                              ng-change="calForcastExpensesVal(row)" css-class="text-right"
                                              min-value="0" max-value="99999999999999.99" placeholder="จำนวนเงิน (บาท)"></fw-input-number-mask>
                    </td>
                    <td style="width:150px;min-width:150px;max-width:150px;" class="text-right">
                        <fw-input-number-mask ng-model="row.IMPORT_INCOME_AMOUNT" ng-disabled="$settings.isLoading||row.FORCAST_INCOME_ID"
                                              ng-change="calForcastExpensesVal(row)" css-class="text-right"
                                              min-value="0" max-value="99999999999999.99" placeholder="จำนวนเงิน (บาท)"></fw-input-number-mask>
                    </td>
                    <th style="width:150px;min-width:150px;max-width:150px;" class="text-right text-primary">{{(+row.DOMESTIC_INCOME_AMOUNT) + (+row.IMPORT_INCOME_AMOUNT)|displayDecimal:2}}</th>
                    <td style="width:150px;min-width:150px;max-width:150px;" class="text-right">{{row.DOMESTIC_EXPENSES_AMOUNT|displayDecimal:2}}</td>
                    <td style="width:150px;min-width:150px;max-width:150px;" class="text-right">{{row.DOMESTIC_EXPENSES_LOCAL_AMOUNT|displayDecimal:2}}</td>
                    <td style="width:150px;min-width:150px;max-width:150px;" class="text-right">{{row.IMPORT_EXPENSES_LOCAL_AMOUNT|displayDecimal:2}}</td>
                </tr>

                <tr ng-if="$settings.formData.TaxForcastIncomes.length > 0 && !$settings.isLoading" class="bg-light text-primary">
                    <th colspan="2" class="text-right">รวมทั้ง (บาท)</th>
                    <th class="text-right">{{$settings.formData.TaxForcastIncomes|fwSimpleSummary:['DOMESTIC_INCOME_AMOUNT']:2}}</th>
                    <th class="text-right">{{$settings.formData.TaxForcastIncomes|fwSimpleSummary:['IMPORT_INCOME_AMOUNT']:2}}</th>
                    <th class="text-right">{{$settings.formData.TaxForcastIncomes|fwSimpleSummary:['DOMESTIC_INCOME_AMOUNT', 'IMPORT_INCOME_AMOUNT']:2}}</th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>



@section Styles{
    @Styles.Render("~/content/select2")
}
@section Scripts{
    @Scripts.Render("~/bundle/inputmask")
    @Scripts.Render("~/bundle/inputnumber")
    @Scripts.Render("~/bundle/select2")
    <script type="text/javascript">
        angular.module("leaveApp").controller('AppController',
            function ($scope, $timeout, $customHttp, $fwModalService, $fwDialogService, $fwDateService) {
                $scope.$settings = {
                    isLoading: false, filterText: '',
                    formView: { mode: 'new' },
                    formErrors: {},
                    formData: {
                        FiscalYear: $fwDateService.convertYearToBuddhist('@ViewBag.FiscalYear'),
                        MonthNo: '' + (new Date().getMonth() + 1),
                        TaxForcastIncomes: []
                    }
                };

                // แสดงประวัติการปรับปรุงรายการ
                $scope.history = function (event, row) {
                    $fwModalService.getModal('@Url.Action("GetModalHistoryForm", "TaxForcastIncomeMonthly", new { })', { $row: row || {} },
                        function ($scope, $mdDialog, $row) {
                            $scope.$settings = {
                                isLoading: false,
                                formView: $row,
                                tableConfigs: {
                                    columns: [
                                        { label: 'ครั้งที่ปรับปรุง', className: 'text-center word-wrap', type: 'html', field: '<span ng-if="row.SEQ_NO>1">{{row.SEQ_NO-1}}</span>', style: 'min-width:87px;max-width:87px;width:87px;' },
                                        {
                                            label: 'ประเภทรายการ', className: 'text-left word-wrap', type: 'html',
                                            field: '<span class="text-primary" ng-if="row.SEQ_NO==1">ประมาณการ</span>' +
                                                '<span class="text-primary" ng-if="row.SEQ_NO>1&&row.ADJUSTMENT_TYPE==1">ปรับเพิ่ม</span>' +
                                                '<span class="text-danger" ng-if="row.ADJUSTMENT_TYPE==2">ปรับลด</span>',
                                            style: 'min-width:125px;max-width:125px;width:125px'
                                        },
                                        { label: 'วันที่ทำรายการ', className: 'text-left word-wrap', type: 'expression', field: '{{row.CREATED_DATETIME|sqlDate:\'\':null:true}}', style: 'min-width:180px;max-width:180px;width:180px' },
                                        { label: 'ผู้ทำรายการ', className: 'text-left word-wrap', type: 'field', field: 'CREATED_NAME', style: 'min-width:130px;max-width:130px;width:130px;' },
                                        { label: 'ประมาณการรายได้ในประเทศ', className: 'text-right word-wrap', type: 'html', field: '<span ng-if="row.ADJUSTMENT_TYPE==2" class="text-danger mr-1">(-)</span>{{row.DOMESTIC_INCOME_AMOUNT|displayDecimal:2}}', style: 'min-width:175px;max-width:175px;width:175px;' },
                                        { label: 'ประมาณการรายได้นำเข้า', className: 'text-right word-wrap', type: 'html', field: '<span ng-if="row.ADJUSTMENT_TYPE==2" class="text-danger mr-1">(-)</span>{{row.IMPORT_INCOME_AMOUNT|displayDecimal:2}}', style: 'min-width:175px;max-width:175px;width:175px;' },
                                        { label: 'รายละเอียด', className: 'text-left word-wrap', type: 'field', field: 'REMARK_TEXT', style: 'min-width:125px;max-width:125px;width:125px;' }
                                    ]
                                }
                            };

                            // ส่งคำขอค้นหาข้อมูล
                            var timeoutId = null;
                            $scope.submitSearch = function () {
                                $timeout.cancel(timeoutId);
                                timeoutId = $timeout(function () {
                                    $scope.$broadcast('fwSimpleDataTable.modal.paramsChanged', {
                                        forcastIncomeId: $row.FORCAST_INCOME_ID
                                    });
                                }, 300);
                            };
                            // ปิดหน้าฟอร์ม
                            $scope.close = function () {
                                $mdDialog.hide();
                            };

                            $scope.submitSearch();
                        }, event);
                };
                // คำนวณรายจ่ายของการประมาณการรายได้ภาษี ของแต่ละประเภทรายได้ภาษี
                var calExpensesChangedId = null
                $scope.calForcastExpensesVal = function (row) {
                    $timeout.cancel(calExpensesChangedId);
                    calExpensesChangedId = $timeout(function () {
                        var params = {
                            taxDomesticIncomeAmount: row.DOMESTIC_INCOME_AMOUNT || 0,
                            taxImportIncomeAmount: row.IMPORT_INCOME_AMOUNT || 0
                        };
                        $customHttp.formPost('@Url.Action("CalculateExpenses", "TaxForcastIncomeMonthly")', params).then(function (res) {
                            row.DOMESTIC_EXPENSES_AMOUNT = res.data.DomesticExpensesAmount || 0;
                            row.DOMESTIC_EXPENSES_LOCAL_AMOUNT = res.data.DomesticLocalAmount || 0;
                            row.IMPORT_EXPENSES_LOCAL_AMOUNT = res.data.ImportLocalAmount || 0;
                        }, function () { });
                    }, 500);
                };
                // ส่งคำขอบันทึกข้อมูล
                $scope.submitSave = function (event) {
                    if ($scope.$settings.formView.mode == 'edit')
                        return;

                    $scope.$settings.isLoading = true;
                    $scope.$settings.formErrors = {};

                    var params = $.extend(true, {}, $scope.$settings.formData);
                    params.FiscalYear = ('' + params.FiscalYear).replace(/[^\d]/g, '');
                    params.FiscalYear = params.FiscalYear.length == 4 ? $fwDateService.convertYearToBritish(params.FiscalYear) : null;
                    $customHttp.formPost('@Url.Action("SubmitSave", "TaxForcastIncomeMonthly")', params).then(function (res) {
                        $scope.$settings.formErrors = res.data.errors || {};
                        if (null != res.data.errors)
                            $fwDialogService.dangerDialog(event, 'โปรดตรวจสอบค่าต่างๆที่ระบบแจ้งให้เรียบร้อยก่อน');
                        else if (null != res.data.errorText)
                            $fwDialogService.dangerDialog(event, res.data.errorText);
                        else
                            $fwDialogService.alertDialog(event, 'บันทึกข้อมูลเรียบร้อยแล้ว').then(function () {
                                $scope.submitSearch();
                            });

                        $scope.$settings.isLoading = false;
                    }, function () {
                        $scope.$settings.isLoading = false;
                    });
                };
                // แบบฟอร์มการปรับปรุง ประมาณการรายได้ภาษี
                $scope.adjustment = function (event, row) {
                    if (null == row.FORCAST_INCOME_ID)
                        return;

                    $fwModalService.getModal('@Url.Action("GetModalAdjustmentForm", "TaxForcastIncomeMonthly", new { })', { $row: $.extend(true, {}, row || {}) },
                        function ($scope, $customHttp, $mdDialog, $fwDialogService, $row) {
                            $scope.$settings = {
                                isLoading: false,
                                formData: $.extend($row, {
                                    ADJUSTMENT_TYPE: 1,
                                    OLD_DOMESTIC_INCOME_AMOUNT: $row.DOMESTIC_INCOME_AMOUNT,
                                    OLD_IMPORT_INCOME_AMOUNT: $row.IMPORT_INCOME_AMOUNT,
                                    DOMESTIC_INCOME_AMOUNT: 0,
                                    IMPORT_INCOME_AMOUNT: 0
                                }),
                                formErrors: {}
                            };

                            // ส่งคำขอบันทึก
                            $scope.submitSave = function (event) {
                                $scope.$settings.isLoading = true;

                                $scope.$settings.formErrors = {};
                                var params = $.extend(true, {}, $scope.$settings.formData);
                                $customHttp.formPost('@Url.Action("SubmitAdjustment", "TaxForcastIncomeMonthly")', params).then(function (res) {
                                    $scope.$settings.formErrors = res.data.errors || {};
                                    if (null != res.data.errors)
                                        $fwDialogService.dangerDialog(event, 'โปรดตรวจสอบค่าต่างๆที่ระบบแจ้งให้เรียบร้อยก่อน');
                                    else if (null != res.data.errorText)
                                        $fwDialogService.dangerDialog(event, res.data.errorText);
                                    else
                                        $fwDialogService.alertDialog(event, 'ปรับปรุงการประมาณการรายรับเงินภาษีเรียบร้อยแล้ว').then(function () {
                                            $mdDialog.hide();
                                        });
                                    $scope.$settings.isLoading = false;
                                }, function () {
                                   $scope.$settings.isLoading = false;
                                });
                            };
                            // ปิดหน้าฟอร์ม
                            $scope.close = function () {
                                $mdDialog.cancel();
                            };
                        }, event).then(function () {
                            $scope.submitSearch();
                        });
                };
                // ปีงบประมาณเปลี่ยนแปลง
                var fiscalYearChangedId = null;
                $scope.fiscalYearChanged = function () {
                    $timeout.cancel(fiscalYearChangedId);
                    fiscalYearChangedId = $timeout(function () {
                        var fiscalYear = ('' + $scope.$settings.formData.FiscalYear).replace(/[^\d]/g, '');
                        if (fiscalYear.length == 4)
                            $scope.submitSearch();
                    }, 300);
                };
                // ส่งคำขอค้นหาข้อมูล
                var timeoutId = null;
                $scope.submitSearch = function () {
                    $timeout.cancel(timeoutId);
                    timeoutId = $timeout(function () {
                        var params = {
                            fiscalYear: ('' + $scope.$settings.formData.FiscalYear).replace(/[^\d]/g, ''),
                            monthNo: ('' + $scope.$settings.formData.MonthNo).replace(/[^\d]/g, '')
                        };
                        if (params.fiscalYear.length != 4 || params.monthNo == '') {
                            $scope.$settings.formData.TaxForcastIncomes = [];
                            return;
                        }

                        $scope.$settings.filterText = '';
                        $scope.$settings.isLoading = true;
                        params.fiscalYear = params.fiscalYear.length == 4 ? $fwDateService.convertYearToBritish(params.fiscalYear) : null;
                        $customHttp.formPost('@Url.Action("Retrieve", "TaxForcastIncomeMonthly")', params).then(function (res) {
                            $scope.$settings.formView.mode = res.data.mode;
                            $scope.$settings.formData.TaxForcastIncomes = res.data.rows || [];

                            if (null != res.data.warningMessage)
                                $fwDialogService.dangerDialog(null, res.data.warningMessage);

                            $scope.$settings.isLoading = false;
                        }, function () {
                            $scope.$settings.isLoading = false;
                        });
                    }, 300);
                };

                // โหลดค่าเริ่มต้นแบบฟอร์ม
                $scope.submitSearch();
            });
    </script>
}