
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-block borderless-card shadow-sm" ng-controller="AppController">
    <div class="form-row border-bottom">
        <div class="form-group col-12 col-md-3">
            <label>งบรายจ่าย</label>
            <select class="form-control" ng-model="$settings.formSearch.budgetTypeId"
                    ng-disabled="$settings.isLoading" fw-select2
                    ng-change="budgetTypeChanged()">
                <option value="empty">--- งบรายจ่าย ---</option>
                @foreach (var item in ViewBag.BudgetTypes)
                {
                    <option value="@item.BUDGET_TYPE_ID">@item.BUDGET_TYPE_NAME</option>
                }
            </select>
        </div>
        <div class="form-group col-12 col-md-3">
            <label>หมวด คชจ.</label>
            <select class="form-control" ng-model="$settings.formSearch.expensesGroupId"
                    ng-disabled="$settings.isLoading||$settings.expensesGroups.length==0" fw-select2
                    ng-change="submitSearch()">
                <option value="empty">--- หมวด คชจ. ---</option>
                <option ng-repeat="item in $settings.expensesGroups" value="{{item.EXPENSES_GROUP_ID}}">{{item.EXPENSES_GROUP_NAME+ ' [' + item.EXPENSES_MASTER_NAME + ']'}}</option>
            </select>
        </div>
        <div class="form-group col-12 col-md-3">
            <label>ชื่อค่าใช้จ่าย</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="$settings.formSearch.expensesName"
                       ng-change="expensesNameChanged()" />
            </div>
        </div>
        <div class="form-group col-12 col-md-3">
            <label class="d-none d-md-block">&nbsp;</label>
            <fw-execute-button text="สร้างใหม่" css-class="btn btn-primary btn-sm" css-icon-class="ion-plus-round" ng-disabled="$settings.isLoading" ng-click="createNew($event)"></fw-execute-button>
        </div>
    </div>
    <fw-simple-data-table columns="$settings.tableConfigs.columns" disabled="$settings.isLoading"
                          auto-load="false"
                          row-click-callback="rowClick($event, $row, $columnConfig)"
                          route-url="@Url.Action("RetrieveForm", "ExpensesItem")"></fw-simple-data-table>
</div>


@section Styles{
    @Styles.Render("~/content/select2")}
@section Scripts{
    @Scripts.Render("~/bundle/select2");
    @Scripts.Render("~/bundle/inputnumber");
    <script type="text/javascript">
        angular.module("leaveApp").controller('AppController',
            function ($scope, $timeout, $q, $fwModalService, $customHttp) {
                $scope.$settings = {
                    isLoading: false,
                    expensesGroups: [],
                    formSearch: {
                        budgetTypeId: 'empty',
                        expensesGroupId: 'empty',
                        expensesName: null
                    },
                    tableConfigs: {
                        columns: [
                            { label: 'ID', className: 'text-center word-wrap', type: 'field', field: 'EXPENSES_ID', style: 'min-width:50px;max-width:50px;width:50px;' },
                            { label: 'งบรายจ่าย', className: 'text-left word-wrap', type: 'field', field: 'BUDGET_TYPE_NAME', style: 'min-width:135px;max-width:135px;width:135px' },
                            { label: 'หมวด คชจ.', className: 'text-left word-wrap', type: 'field', field: 'EXPENSES_GROUP_NAME', style: 'min-width:180px;max-width:180px;width:180px' },
                            {
                                label: 'ชื่อค่าใช้จ่าย', className: 'text-left word-wrap', type: 'html', params: 'BTN_EDIT',
                                field: '<a href="javascript:void(0)" class="text-primary f-w-900">{{row.EXPENSES_NAME}}<sup class="ml-1 ti-new-window"></sup></a>',
                                style: 'width:200px;min-width:200px'
                            },
                            { label: 'ลำดับการเรียงข้อมูล', className: 'text-center word-wrap', type: 'field', field: 'ORDER_SEQ', style: 'min-width:100px;max-width:100px;width:100px;' },
                            { label: 'สามารถเพิ่มรายละเอียด', className: 'text-center word-wrap', type: 'html', field: '<span class="text-primary">{{row.CAN_ADD_PROJECT?\'ใช่\':\'\'}}</span>', style: 'min-width:115px;max-width:115px;width:115px' },
                            { label: 'ชื่อแบบฟอร์มสำหรับบันทึกคำขอ', className: 'text-left word-wrap bg-light', type: 'field', field: 'FORM_TEMPLATE_NAME', style: 'min-width:290px;max-width:290px;width:290px' }
                        ]
                    }
                };


                // เมื่องบรายจ่ายเปลี่ยนแปลง
                var budgetTypeChangedId = null;
                $scope.budgetTypeChanged = function () {
                    $timeout.cancel(budgetTypeChangedId);
                    budgetTypeChangedId = $timeout(function () {
                        $scope.$settings.expensesGroups = [];
                        $scope.$settings.formSearch.expensesGroupId = 'empty';
                        var budgetTypeId = ('' + $scope.$settings.formSearch.budgetTypeId).replace(/[^\d]/g, '');
                        if (budgetTypeId.length > 0)
                            $customHttp.formPost('@Url.Action("RetrieveExpensesGroupByBudgetType", "Helper")', { budgetTypeId: budgetTypeId }).then(function (res) {
                                $scope.$settings.expensesGroups = res.data || [];
                            }, function () { });

                        $scope.submitSearch();
                    }, 300);
                };
                $scope.createNew = function (event, formData) {
                    $fwModalService.getModal('@Url.Action("GetModalResource", "ExpensesItem")', { $formData: formData || {} },
                        function ($scope, $customHttp, $mdDialog, $fwDialogService, $formData) {
                            $scope.$settings = {
                                isLoading: false,
                                formData: {},
                                formErrors: {}
                            };

                            // กำหนดค่าเริ่มต้น
                            $scope.init = function () {
                                $scope.$settings.formErrors = {};
                                $scope.$settings.formData = {
                                    ExpensesId: $formData.EXPENSES_ID || null,
                                    ExpensesGroupId: '' + ($formData.EXPENSES_GROUP_ID || 'empty'),
                                    ExpensesName: $formData.EXPENSES_NAME || '',
                                    FormTemplateName: $formData.FORM_TEMPLATE_NAME || null,
                                    OrderSeq: $formData.ORDER_SEQ || null,
                                    CanAddProject: $formData.CAN_ADD_PROJECT == true ? 1 : 0,
                                    ExpensesGLs: [] // รายการทางบัญชีของรายการค่าใช้จ่าย
                                };

                                if ($.trim($formData.EXPENSES_ID) != '') {
                                    $customHttp.formPost('@Url.Action("GetExpensesGL", "ExpensesItem")', { expensesId: $formData.EXPENSES_ID }).then(function (res) {
                                        $scope.$settings.formData.ExpensesGLs = res.data || [];
                                    }, function () { });
                                }
                            };
                            // ส่งคำขอบันทึกข้อมูล
                            $scope.save = function (event) {
                                $scope.$settings.isLoading = true;
                                $scope.$settings.formErrors = {};

                                var params = $.extend(true, {}, $scope.$settings.formData);
                                params.ExpensesGroupId = ('' + params.ExpensesGroupId).replace(/[^\d]/g, '');
                                $customHttp.formPost('@Url.Action("SubmitSave", "ExpensesItem")', params).then(function (res) {
                                    $scope.$settings.formErrors = res.data.errors || {};
                                    if (res.data.errors != null)
                                        $fwDialogService.dangerDialog(event, 'กรุณาตรวจสอบค่าต่างๆที่ระบบแจ้งให้เรียบร้อยก่อน');
                                    else
                                        $fwDialogService.alertDialog(event, 'บันทึกเรียบร้อยแล้ว').then(function () {
                                            $mdDialog.hide();
                                        });
                                    $scope.$settings.isLoading = false;
                                }, function () {
                                    $scope.$settings.isLoading = false;
                                });
                            };
                            // เพิ่มรายการทางบัญชี
                            $scope.addGL = function () {
                                $scope.$settings.formData.ExpensesGLs.push({
                                    GLCode: null, GLText: null
                                });
                            };
                            // ปิดหน้าต่าง
                            $scope.close = function () {
                                $mdDialog.cancel();
                            };


                            $scope.init();
                        }, event).then(function () {
                            $scope.submitSearch();
                        });
                };
                $scope.rowClick = function (event, row, columnConfig) {
                    var clickElName = event.target.tagName; // Upper
                    if ('A' != clickElName)
                        return;

                    if (columnConfig.params == 'BTN_EDIT')
                        $scope.createNew(event, row);

                    return $q(function (resolve) {
                        resolve({ row: row });
                    });
                };
                // ส่งคำขอค้นหาข้อมูล
                var timeoutId = null;
                $scope.submitSearch = function () {
                    $timeout.cancel(timeoutId);
                    timeoutId = $timeout(function () {
                        var params = $.extend(true, {}, $scope.$settings.formSearch);
                        params.budgetTypeId = ('' + params.budgetTypeId).replace(/[^\d]/g, '');
                        params.expensesGroupId = ('' + params.expensesGroupId).replace(/[^\d]/g, '');
                        $scope.$broadcast('fwSimpleDataTable.paramsChanged', params);
                    }, 300);
                };
                // เมื่อชื่อค่าใช้จ่ายเปลี่ยนแปลง
                var expensesNameChangedId = null;
                $scope.expensesNameChanged = function () {
                    $timeout.cancel(expensesNameChangedId);
                    expensesNameChangedId = $timeout(function () {
                        $scope.submitSearch();
                    }, 300);
                };

                // เตรียมข้อมูลสำหรับหน้าฟอร์ม
                $scope.submitSearch();
        });
    </script>

}





