
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AppController">
    <div class="d-block shadow-sm m-0 mb-2 p-3">
        <div class="form-row">
            <div class="form-group col-12 col-md-3">
                <label>ปีงบประมาณ (พ.ศ.)</label>
                <fw-input-mask model="$settings.formSearch.fiscalYear"
                               mask="9999" placeholder="ระบุปี พ.ศ."></fw-input-mask>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>เขตพื้นที่</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.areaId" ng-disabled="$settings.isLoading@(ViewBag.CanSelectDepartment?"":"||true")"
                        ng-change="areaChanged()">
                    <option value="empty">--- เขตพื้นที่ ---</option>
                    @foreach (var item in ViewBag.Areas)
                    {
                        <option value="@item.AREA_ID">@item.AREA_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>หน่วยงาน</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.depId" ng-disabled="$settings.isLoading||$settings.departments.length==0@(ViewBag.CanSelectDepartment?"":"||true")">
                    <option value="empty">--- หน่วยงาน ---</option>
                    <option ng-repeat="item in $settings.departments" value="{{item.DEP_ID}}">{{item.DEP_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label class="d-none d-md-block">&nbsp;</label>
                <md-checkbox ng-model="$settings.formSearch.excludeReserveFlag" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="$settings.isLoading">เฉพาะที่จัดสรรให้ภูมิภาค</md-checkbox>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-3">
                <label>แผนงาน</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.planId" ng-disabled="$settings.isLoading"
                        ng-change="planChanged()">
                    <option value="empty">--- แผนงาน ---</option>
                    @foreach (var item in ViewBag.Plans)
                    {
                        <option value="@item.PLAN_ID">@item.PLAN_NAME</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>ผลผลิต</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.produceId" ng-disabled="$settings.isLoading||$settings.produces.length==0"
                        ng-change="produceChanged()">
                    <option value="empty">--- ผลผลิต ---</option>
                    <option ng-repeat="item in $settings.produces " value="{{item.PRODUCE_ID}}">{{item.PRODUCE_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>กิจกรรม</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.activityId" ng-disabled="$settings.isLoading||$settings.activities.length==0">
                    <option value="empty">--- กิจกรรม ---</option>
                    <option ng-repeat="item in $settings.activities" value="{{item.ACTIVITY_ID}}">{{item.ACTIVITY_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label>งบรายจ่าย</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.budgetTypeId" ng-disabled="$settings.isLoading"
                        ng-change="budgetTypeChanged()">
                    <option value="empty">--- งบรายจ่าย ---</option>
                    @foreach (var item in ViewBag.BudgetTypes)
                    {
                        <option value="@item.BUDGET_TYPE_ID">@item.BUDGET_TYPE_NAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-3 mb-md-0">
                <label>หมวดค่าใช้จ่าย<span class="ti-reload rotate-refresh ml-1" ng-if="$settings.isExpensesGroupLoading"></span></label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.expensesGroupId" ng-disabled="$settings.isLoading||$settings.expensesGroups.length==0"
                        ng-change="expensesGroupChanged()">
                    <option value="empty">--- หมวดค่าใช้จ่าย ---</option>
                    <option ng-repeat="item in $settings.expensesGroups" value="{{item.EXPENSES_GROUP_ID}}">{{item.EXPENSES_GROUP_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3 mb-md-0">
                <label>รายการค่าใช้จ่าย</label>
                <select class="form-control" fw-select2
                        ng-model="$settings.formSearch.expensesId" ng-disabled="$settings.isLoading||$settings.expenses.length==0">
                    <option value="empty">--- รายการค่าใช้จ่าย ---</option>
                    <option ng-repeat="item in $settings.expenses" value="{{item.EXPENSES_ID}}">{{item.EXPENSES_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3 mb-md-0">
                <label class="d-none d-md-block">&nbsp;</label>
                <fw-execute-button text="ส่งออก Excel" css-class="btn btn-primary btn-sm" css-icon-class="icofont icofont-file-excel"
                                   ng-disabled="$settings.isLoading"
                                   on-loading="$settings.isExporting"
                                   ng-click="submitExport()"></fw-execute-button>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/content/select2")
}
@section Scripts{
    @Scripts.Render("~/bundle/select2")
    @Scripts.Render("~/bundle/inputmask")

    <script type="text/javascript">
        angular.module("leaveApp").controller('AppController', function ($scope, $window, $filter, $q, $fwDateService, $customHttp, $timeout, $fwDialogService) {

            $scope.$settings = {
                isLoading: false, isExporting: false,
                departments: [],
                produces: [], activities: [], expensesGroups: [], expenses: [],
                formSearch: {
                    fiscalYear: $fwDateService.convertYearToBuddhist('@ViewBag.DefaultFiscalYear'),
                    areaId: '@ViewBag.DefaultAreaId', depId: 'empty',
                    planId: 'empty', produceId: 'empty', activityId: 'empty',
                    budgetTypeId: 'empty', expensesGroupId: 'empty', expensesId: 'empty',
                    budgetType: '@(ViewBag.PageType=="budget"?"1":"2")',
                    excludeReserveFlag: 'N'
                }
            };

            // นำออกข้อมูลไปยัง Excel
            $scope.submitExport = function () {
                $scope.$settings.isExporting = true;
                $scope.$settings.isLoading = true;

                var params = $.extend(true, {}, $scope.$settings.formSearch);
                if (('' + params.fiscalYear).replace(/[^\d]/g, '').length != 4) {
                    $fwDialogService.dangerDialog(null, 'ระบุปีงบประมาณ ไม่ถูกต้อง');
                    return;
                }

                params.fiscalYear = $fwDateService.convertYearToBritish(params.fiscalYear);
                params.areaId = ('' + params.areaId).replace(/[^\d]/ig, '');
                params.depId = ('' + params.depId).replace(/[^\d]/ig, '');
                params.planId = ('' + params.planId).replace(/[^\d]/ig, '');
                params.produceId = ('' + params.produceId).replace(/[^\d]/ig, '');
                params.activityId = ('' + params.activityId).replace(/[^\d]/ig, '');
                params.budgetTypeId = ('' + params.budgetTypeId).replace(/[^\d]/ig, '');
                params.expensesGroupId = ('' + params.expensesGroupId).replace(/[^\d]/ig, '');
                params.expensesId = ('' + params.expensesId).replace(/[^\d]/ig, '');

                $customHttp.formPost('@Url.Action("Retrieve", "RptExpenseResult")', params).then(function (res) {
                    $scope.$settings.isExporting = false;
                    $scope.$settings.isLoading = false;

                    if (null != res.data.errorText) {
                        $fwDialogService.dangerDialog(event, res.data.errorText);
                        return;
                    }

                    $window.location.href = $filter('textFormat')('@Url.Action("GetFile", "Resource", new { groupType = "Temporary" })&filename={0}&resultFilename={1}&deleteFlag=Y'
                        , res.data.filename, res.data.resultFilename);
                }, function () {
                    $scope.$settings.isExporting = false;
                    $scope.$settings.isLoading = false;
                });
            };
            // เมื่อเขตพื้นที่เปลี่ยนแปลง
            var areaChangedId = null;
            $scope.areaChanged = function () {
                return $q(function (resolve) {
                    $timeout.cancel(areaChangedId);
                    areaChangedId = $timeout(function () {
                        $scope.$settings.departments = [];
                        $scope.$settings.formSearch.depId = 'empty';
                        var areaId = ('' + $scope.$settings.formSearch.areaId).replace(/[^\d]/g, '');
                        if (areaId.length == 0)
                            return;

                        $customHttp.formPost('@Url.Action("GetDepartmentBy", "Helper")', { areaId: areaId }).then(function (res) {
                            $scope.$settings.departments = res.data || [];
                            resolve({});
                        }, function () { });
                    }, 300);
                });
            };
            // เมื่อแผนงานเปลี่ยนแปลง
            var planChangedId = null;
            $scope.planChanged = function () {
                $timeout.cancel(planChangedId);
                planChangedId = $timeout(function () {
                    $scope.$settings.produces = [];
                    $scope.$settings.formSearch.produceId = 'empty';
                    $scope.$settings.activities = [];
                    $scope.$settings.formSearch.activityId = 'empty';

                    var planId = $scope.$settings.formSearch.planId.replace('empty', '');
                    if (planId != '')
                        $customHttp.formPost('@Url.Action("GetProduceBy", "Helper")', { planId: planId }).then(function (res) {
                            $scope.$settings.produces = res.data || [];
                        }, function () { });
                }, 200);
            };
            // เมื่อผลผลิตเปลี่ยนแปลง
            var produceChangedId = null;
            $scope.produceChanged = function () {
                $timeout.cancel(produceChangedId);
                produceChangedId = $timeout(function () {
                    $scope.$settings.activities = [];
                    $scope.$settings.formSearch.activityId = 'empty';

                    var produceId = $scope.$settings.formSearch.produceId.replace('empty', '');
                    if (produceId != '')
                        $customHttp.formPost('@Url.Action("GetActivityBy", "Helper")', { produceId: produceId }).then(function (res) {
                            $scope.$settings.activities = res.data || [];
                        }, function () { });
                }, 200);
            };
            // เมื่องบรายจ่ายเปลี่ยนแปลง
            var budgetTypeIdChangedId = null;
            $scope.budgetTypeChanged = function () {
                $timeout.cancel(budgetTypeIdChangedId);
                budgetTypeIdChangedId = $timeout(function () {
                    $scope.$settings.expensesGroups = [];
                    $scope.$settings.formSearch.expensesGroupId = 'empty';
                    $scope.$settings.expenses = [];
                    $scope.$settings.formSearch.expensesId = 'empty';

                    var budgetTypeId = $scope.$settings.formSearch.budgetTypeId.replace('empty', '');
                    if (budgetTypeId != '')
                        $customHttp.formPost('@Url.Action("RetrieveExpensesGroupByBudgetType", "Helper")', { budgetTypeId: budgetTypeId }).then(function (res) {
                            $scope.$settings.expensesGroups = res.data || [];
                            $scope.$settings.formSearch.expensesGroupId = 'empty';
                        }, function () { });
                }, 200);
            };
            // เมื่อหมวดค่าใช้จ่ายเปลี่ยนแปลง
            var expensesGroupChangedId = null;
            $scope.expensesGroupChanged = function () {
                $timeout.cancel(expensesGroupChangedId);
                expensesGroupChangedId = $timeout(function () {
                    $scope.$settings.expenses = [];
                    $scope.$settings.formSearch.expensesId = 'empty';

                    var expensesGroupId = $scope.$settings.formSearch.expensesGroupId.replace('empty', '');
                    if (expensesGroupId != '')
                        $customHttp.formPost('@Url.Action("RetrieveExpensesByExpensesGroup", "Helper")', { expensesGroupId: expensesGroupId }).then(function (res) {
                            $scope.$settings.expenses = res.data || [];
                        }, function () { });
                }, 200);
            };


            // โหลดค่าเริ่มต้นของหน้าฟอร์ม
            $scope.areaChanged().then(function () {
                $scope.$settings.formSearch.depId = '@ViewBag.DefaultDepId';
            });
        });
    </script>
}